<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Flowers</h1>
  <ul>
    <% flowers.forEach(flower => { %>
      <li>
        <form 
          action="/flowers/<%= flower._id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button class="delete-button" type="submit">Remove</button>
        </form>
        <a href="/flowers/<%= flower._id %>/edit"><button class="edit-button">Edit</button></a>
				<a href="/flowers/<%= flower._id %>"><%= flower.name %></a> 
				- 
				<%= flower.planted ? 'yes' : 'no' %>
			</li>
    <% }) %>
  </ul>
  <a href="/flowers/new">Add Flower</a><br>
  <a href="/">Back</a>
  </ul>
</body>
</html>